<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ '/assets/js/jquery-3.6.0.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#search").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".tablesearcher tbody tr").filter(function() {
            $(this).toggle($(this).children('th').text().indexOf(value) > -1);
          });
        });
      });
    </script>
    <style>
      table.tablepercentage { table-layout: auto; }
      table.tablepercentage thead tr:first-child th {
          hyphens: auto; font-size: small;
      }
      table.tablepercentage td { min-width: 60px; }
      table.tablepercentage tbody th { max-width: 200px; hyphens: auto; }
      table.tablepercentage thead tr:last-child .header:not(:first-child):before {
        content: "%";
      }
      table.matrix tbody tr th {
        font-weight: bold;
      }
      table tbody th { font-weight: normal; }
      table tbody td { text-align: right; }
    </style>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}
        </p>

        {% if site.show_navigation %}
          <nav>
            <p>
            {% for node in site.navlist %}
              <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a><br/>
            {% endfor %}
            </p>
          </nav>
        {% endif %}

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

      </header>
      <section>

      <h1>user agents</h1>
      <p>Crawlers set their own name, which is called a product token, to find relevant groups of `allow` and `disallow` instructions. The product token (ExampleBot) is a substring of the User-Agent HTTP header. The following table shows the most frequently used product tokens in robots.txt files over the years. Note that for all further analysis of user agents we employ a case-insensitive comparison (`Bingbot` and `bingbot` are identical). The last column shows the percentage of robots.txt files, which contain the respective product token.</p>

      {% if page.table_searcher %}
      <p><input type="text" id="search" placeholder="{{ page.table_searcher }}"></p>
      {% endif %}

      <p>The following table shows the annual top ten user agents in comparison.</p>

      {% include_relative {{ table-comparsion }} %}
      <br>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
<!--
 Based on:
  https://github.com/pages-themes/minimal
  https://github.com/orderedlist/minimal
-->